<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="info-container" style="text-align: center; margin-bottom: 20px;">
    <h2>¡Bienvenido!</h2>
    <p>Usuario: <strong>{{ usuario }}</strong></p>
  </div>

  <form (ngSubmit)="mostrarDatos()" #formulario="ngForm">
    <ion-list>
      <ion-item>
        <ion-input
          #nombreInput
          label="Nombre"
          label-placement="floating"
          fill="outline"
          [(ngModel)]="nombre"
          name="nombre"
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          #apellidoInput
          label="Apellido"
          label-placement="floating"
          fill="outline"
          [(ngModel)]="apellido"
          name="apellido"
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-select
          label="Nivel Educación"
          interface="popover"
          placeholder="Seleccione nivel"
          [(ngModel)]="nivel"
          name="nivel"
          required
        >
          <ion-select-option value="Básica">Básica</ion-select-option>
          <ion-select-option value="Media">Media</ion-select-option>
          <ion-select-option value="Técnica">Técnica</ion-select-option>
          <ion-select-option value="Universitaria">Universitaria</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>


    <mat-form-field appearance="fill" style="width: 100%; margin: 20px 0;">
      <mat-label>Fecha de nacimiento</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="fechaNacimiento" name="fechaNacimiento" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div *ngIf="cargando" class="spinner-overlay">
      <div class="spinner-dual-ring"></div>
    </div>

    <ion-button expand="block" color="medium" (click)="limpiarCampos()">Limpiar</ion-button>
    <ion-button expand="block" color="primary" type="submit">Mostrar</ion-button>
  </form>

</ion-content>
