<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true" class="ion-padding">
<form (ngSubmit)="capturarDatos()" #formulario="ngForm">
  <ion-list>
    <ion-item>
      <ion-input
        label="Usuario"
        label-placement="floating"
        fill="outline"
        placeholder="Ingrese su usuario"
        [(ngModel)]="usuario"
        name="usuario"
        required
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Nombre"
        label-placement="floating"
        fill="outline"
        placeholder="Ingrese su nombre"
        [(ngModel)]="nombre"
        name="nombre"
        required
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Apellido"
        label-placement="floating"
        fill="outline"
        placeholder="Ingrese su apellido"
        [(ngModel)]="apellido"
        name="apellido"
        required
      ></ion-input>
    </ion-item>

  </ion-list>
  <ion-button expand="full" type="submit" color="tertiary"
              [disabled]="!usuario || !nombre || !apellido">
    Capturar Data
  </ion-button>
</form>





</ion-content>
